form {
    max-width: 97vw;
    margin: 30px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

form h2 {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input,
select,
textarea,
button {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: none;
}

table {
    align-self: center;
    border-collapse: collapse;
    margin-bottom: 15px;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    box-sizing: border-box;
    position: relative;
}

table td input {
    width: 98%;
    box-sizing: border-box;

}

.suggestions {
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    top: 50px;
    z-index: 10;
}

.suggestions li {
    padding: 8px;
    cursor: pointer;
}

.suggestions li:hover {
    background-color: #f0f0f0;
}

.suggestions li.selected {
    background-color: rgb(202, 198, 255);
    color: rgb(0, 0, 0);
}

.add-item-btn,
.remove-item-btn {
    padding: 5px 10px;
    font-size: 0.9rem;
    margin: 5px 0;
    cursor: pointer;
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 5px;
}

.add-item-btn {
    background-color: rgb(10, 0, 154);
    color: white;
    height: 40px;
    font-size: 20px;
}

.add-item-btn:hover {
    background-color: #2a7edb;
}

.remove-item-btn {
    background-color: rgb(255, 45, 45);
}

.remove-item-btn:hover {
    background-color: rgb(233, 11, 11);
}

button[type="submit"] {
    background-color: rgb(10, 0, 154);
    color: white;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#save {
    background-color: rgb(93, 255, 93);
    cursor: pointer;
    margin-bottom: 10px;
}

#print {
    background-color: rgb(10, 0, 154);
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

#savePDF {
    background-color: #b237ff;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

.steps {
    display: none;
}

.steps.active {
    display: block;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation button {
    background-color: rgb(10, 0, 154);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.navigation button:hover {
    background-color: #0056b3;
}

.navigation button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.progress-step {
    background-color: #b3000000;
}