@page {
    size: A4;
    margin: 10mm;
}

.container {
    background: #fff;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    max-width: 800px;
    height: 297mm;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #007bff;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.header .logo img {
    max-width: 250px;
}

.header .company-details {
    text-align: right;
}

.header .company-details h1 {
    margin: 0;
    font-size: 24px;
    color: #007bff;
}

.header .company-details p {
    margin: 2px 0;
    font-size: 14px;
}

.title {
    text-align: center;
    margin: 20px 0;
    font-size: 20px;
    color: #007bff;
    font-weight: bold;
}

.first-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.info-section,
.buyer-details {
    padding: 3%;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.info-section p,
.buyer-details p {
    margin: 3px 0;
}

.container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: auto;
}

.container table th,
.container table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-size: 10px;
}

.container table th {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

.second-section {
    display: flex;
    justify-content: space-between;
}

.totals {
    text-align: right;
}

.totals p,
.totals h3 {
    margin: 5px 0;
    font-size: 14px;
}

.totals h3 {
    color: #007bff;
    font-weight: bold;
}

.bank-details {
    font-size: 14px;
}

.terms-section {
    padding: 3%;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.declaration {
    font-size: 14px;
    line-height: 1.5;
}

.signature {
    text-align: left;
}

.signature-space {
    margin-top: 20px;
    /* border: 1px dashed #333; */
    width: 150px;
    height: 40px;
}

footer {
    text-align: center;
    font-size: 12px;
    color: #777;
    margin-top: 20px;
}