@page {
    size: A4;
    margin: 10mm;
}

.preview-container {
    /* background: #fff; */
    background-image: url("https://raw.githubusercontent.com/ShreshtSystems/ShreshtSystems.github.io/main/assets/icon2.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    width: 210mm;
    height: 297mm;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #007bff;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.header .logo img {
    max-width: 250px;
}

.header .company-details {
    text-align: right;
}

.header .company-details h1 {
    margin: 0;
    font-size: 30px;
    color: #001d9d;
}

.header .company-details p {
    margin: 2px 0;
    font-size: 12px;
}

.title {
    text-align: center;
    font-size: 28px;
    color: #007bff;
    font-weight: bold;
}

.first-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.info-section,
.buyer-details {
    padding: 3%;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.info-section p,
.buyer-details p {
    margin: 3px 0;
}

.container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: auto;
}

.container table th,
.container table td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: left;
    font-size: 15px;
}

.container table th {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

.second-section {
    display: flex;
    justify-content: space-between;
}

.totals-section {
    margin: 20px 0;
    text-align: right;
}

.totals-section p,
.totals-section h3 {
    margin: 5px 0;
    font-size: 18px;
}

.totals-section h3 {
    color: #007bff;
    font-weight: bold;
}

#totalInWords, p {
    font-size: 18px;
}

.bank-details {
    font-size: 14px;
}

.terms-section {
    padding: 3%;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.declaration {
    font-size: 14px;
    line-height: 1.5;
}

.signature {
    text-align: left;
}

.signature-space {
    margin-top: 20px;
    width: 150px;
    height: 40px;
}

footer {
    text-align: center;
    font-size: 12px;
    color: #777;
    margin-top: 20px;
}

footer p{
    font-size: 14px;
}