@page {
    size: A4;
    margin: 10mm;
}

.preview-container {
    /* background: #fff; */
    background-image: url("https://raw.githubusercontent.com/ShreshtSystems/ShreshtSystems.github.io/main/assets/icon2.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    width: 210mm;
    height: 297mm;
}


/* 
        header section starts here
        */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #007bff;
    padding-bottom: 2px;
    margin-bottom: 2px;
}

.header .logo img {
    max-width: 300px;
}

.header .company-details {
    text-align: right;
}

.header .company-details h1 {
    margin: 0;
    font-size: 36px;
    color: rgb(0, 8, 116);
}

.header .company-details p {
    margin: 2px 0;
    font-size: 14px;
}

/* 
        title section starts here
        */
.title {
    text-align: center;
    font-size: 25px;
    color: #007bff;
    font-weight: bold;
    margin-bottom: 10px;
}

/* 
        first-section starts here
        */
.first-section {
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
}

.info-section {
    text-align: right;
}

.info-section,
.buyer-details {
    padding: 0.2%;
    font-size: 16px;
    line-height: 1.0;
    width: 50%;
}

.buyer-details p .info-section p {
    margin: 3px 0;
}

/* 
        second-section starts here
        */
.second-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.container table {
    margin-top: 10px;
    width: 99%;
    border-collapse: collapse;
    table-layout: auto;
}

.container table th,
.container table td {
    border: 1px solid #000000;
    padding: 7px;
    text-align: left;
    font-size: 16px;
}

.container table th {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

/* 
        third-section starts here
        */

.third-section {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}

.totals-section {
    width: 50%;
    text-align: right;
    font-size: 16px;
}

.bank-details {
    width: 50%;
    text-align: left;
    font-size: 16px;
}

/* 
        forth-section starts here
        */

.forth-section {
    margin: 0;
    margin-bottom: 2px;
}

.forth-section p {
    margin-top: 0;
}

.declaration {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
}

.forth-section .declaration p {
    margin-bottom: 0;
}

/* 
        fifth-section starts here
        */

.fifth-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.terms-section {
    padding: 1%;
    font-size: 16px;
    line-height: 1.0;
}

.signature {
    text-align: left;
}

.signature p {
    margin-top: 0;
}

.signature-space {
    width: 150px;
    height: 25px;
}

footer {
    text-align: center;
    font-size: 12px;
    color: #777;
    margin-top: 10px;
}