* {
    margin: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--primary) transparent;
}

:root {
    --primary: #3765bc;
    --accent: #1f4191;
    --bg: #b6c2e6;
    --sidebar-bg: #fff;
    --card-bg: #fff;
    --shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
    --border: #e5e7eb;
    --danger: #dc3545;
    --success: #267746;
}

.no-select {
    user-select: none;
    /* Standard syntax */
}